<header>
    <img src="{{ "logo.svg" | asset_url }}" id="logo">
    <nav>
        <a href="#">Home</a>
        <a href="#">Episodes</a>
        <a href="#">Store</a>
        <a href="#">About</a>
    </nav>
</header>